[user]
    name = axionl
    email = i@axionl.me
    signingkey = 1FDBDCE2D26BD8F100EE2E73B1B9AAD8BE7E7326
[commit]
    gpgsign = true
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = "code --wait "
[url "https://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:
[core]
    editor = vim
#[http]
#    proxy = http://127.0.0.1:9995
