## Include All
include /usr/share/nano-syntax-highlighting/*.nanorc

## Setting
set linenumbers
set mouse
set autoindent
set tabsize 4
set tabstospaces
set smooth
# set nonewlines
set titlecolor white,normal
set selectedcolor cyan,normal
set numbercolor blue,normal
set boldtext
# set softwrap
