:root {
    --tab-border-radius: 5px;
    --margin-top-distance: 3px;
    --padding-size: 5px;
    --active-tab-color-a: #fff;
    --active-tab-color-b: #03fcc611;
}

tab-item {
    border-radius: var(--tab-border-radius);
    padding: var(--padding-size);
    margin-top: var(--margin-top-distance);
    transition: all 0.3s ease-in-out !important;
    border: none !important;
}

.newtab-button {
    border: none !important;
    border-radius: var(--tab-border-radius);
    padding: var(--padding-size) !important;
    margin-top: var(--margin-top-distance);
}

.newtab-action-selector-anchor {
    border: none !important;
    margin-top: var(--margin-top-distance);
    margin-right: 6px
}

tab-item.active {
    background: linear-gradient(to right, var(--active-tab-color-a), var(--active-tab-color-b)) !important;
    font-weight: bolder;
}

