:root {
    --tab-border-radius: 5px;
    --margin-top-distance: 4px;
    --padding-size: 7px;
}

#tabbar-container {
    background-color: #ffffff99 !important;
}

tab-item {
    padding: var(--padding-size);
    margin-top: var(--margin-top-distance);
    border: none !important;
    border-radius: var(--tab-border-radius);
    background-color: transparent !important;
    box-shadow: none !important;
}

tab-item:hover {
    background-color: var(--theme-colors-popup) !important;
    box-shadow: -0.3em 0.3em var(--shadow-blur) var(--shadow-color) !important;
}

tab-item.active {
    margin-top: var(--margin-top-distance);
    background: linear-gradient(35deg, #95b5ffff 36%,  #2afadfff 100%) !important;
    border-radius: var(--tab-border-radius);
}

tab-item.active span {
    color: white !important;
    font-weight: bold;
}

tab-favicon {
    margin: 0px 5px !important;
}

.newtab-button {
    border: none !important;
    border-radius: var(--tab-border-radius);
    padding: var(--padding-size) !important;
    margin-top: var(--margin-top-distance) !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.newtab-button:hover {
    background-color: var(--theme-colors-popup) !important;
}

.newtab-action-selector-anchor {
    border: none !important;
    box-shadow: none !important;
}

.highlighter {
    visibility: collapse !important;
}
