[Unit]
Description=Set the color theme by kcmcolorfulhelper.
After=graphical.target
Wants=graphical.target

[Service]
Type=oneshot
WorkingDirectory=/home/axionl/.cache/plasmashell/plasma_engine_potd
ExecStart=kcmcolorfulhelper -p bing
RemainAfterExit=yes
