[Unit]
Description=Change color theme according to daily bing image.

[Timer]
OnActiveSec=5sec
OnCalendar=hourly
Persistent=true
Unit=kcm-colorful.service

[Install]
WantedBy=timers.target
