[Unit]
Description=Telegram Desktop (Limit Memory).
After=network.target
Wants=network.target

[Service]
Type=oneshot
MemoryMax=500M
MemoryHigh=499M
ExecStart=telegram-desktop -many -workdir ~/Download/TelegramDesktop/%i -- %u
RemainAfterExit=yes

[Install]
WantedBy=default.target
